<div class="text-center name">Contact Me</div>
<div class="container text-center" id="contact-me">
  <a class="cc-facebook btn btn-link" href="http://facebook.com/iamnuningjang"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a>
  <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/nattaratch/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a>
  <a class="cc-google btn btn-link" href="mailto:ning.nattarat@gmail.com"><i class="fa fa-google fa-2x " aria-hidden="true"></i></a>
  <a class="cc-github btn btn-link" href="https://github.com/NattaratCh"><i class="fa fa-github fa-2x " aria-hidden="true"></i></a>
</div>
<div class="container text-center copy-right mt-3">
  <p>
    Build from scratch with Angular, HTML 5, Sass, Firebase and Google analytics<br/>
    <i class="fa fa-copyright"></i> 2019 Nattarat Champreeda
  </p>
</div>