<div class="section" id="professional-skills">
    <div class="container">
        <div class="text-center title">
            <h4>Professional Skills</h4>
        </div>
        <div class="card" data-aos="fade-up" data-aos-once="false">
            <div class="card-body">
                    <div class="row">
                            <div class="col-md-6">
                                <progress-bar [skill]="'Angular'" [percent]="70"></progress-bar>
                            </div>
                            <div class="col-md-6">
                                <progress-bar [skill]="'Swift'" [percent]="80"></progress-bar>
                            </div>
                        </div>
                <div class="row">
                    <div class="col-md-6">
                        <progress-bar [skill]="'HTML'" [percent]="90"></progress-bar>
                    </div>
                    <div class="col-md-6">
                        <progress-bar [skill]="'CSS'" [percent]="90"></progress-bar>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                            <progress-bar [skill]="'Javascript'" [percent]="90"></progress-bar>
                        </div>
                        <div class="col-md-6">
                            <progress-bar [skill]="'Java'" [percent]="90"></progress-bar>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                <progress-bar [skill]="'Agile Methodology'" [percent]="80"></progress-bar>
                            </div>
                            <div class="col-md-6">
                                <progress-bar [skill]="'DevOps'" [percent]="70"></progress-bar>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>