<div class="section" id="work-experience">
        <div class="container">
            <div class="text-center title">
                <h4>Work Experience</h4>
                <p class="description">5 years experience as the software engineer at The Stock Exchange of Thailand</p>
            </div>
            <div class="card">
                <div class="row" id="setsmart">
                    <div class="col-md-3 bg-primary"  data-aos="fade-right">
                        <div class="card-body header">
                            <p>SETSMART</p>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left">
                        <div class="card-body">
                            SETSMART is the No.1 real-time stock information web application of Thailand.
                            <br/>
                            <div class="text-center app-screen mt-2 mb-2">
                                    <img class="setsmart" src="../../../assets/images/setsmart_summary.svg"/>
                            </div>
                            <br/>
                            <ul>
                                <li>Using Angular with Bootstrap 4, developed the new screens and flows including market summary, stock quotations, financial statement and stock screening with a team of 6 developers. </li>
                                <li>On the backend, developed server-sent events API and RESTful API that return a JSON payload by using Spring Boot Framework.</li>
                                <li>Integrated this application with Jenkins pipeline script to run on Continuous Integration (CI) system and deployed the application using Docker. 
                                        The deployment which took half an hour and had to manually change an environment configuration, now just takes 5 minutes and can set an active environment in one command.</li>
                            </ul>

                            <div class="col-md-12 tech-img">
                                <img src="../../../assets/images/angular.png" width="100px;"/>
                                <img src="../../../assets/images/bootstrap.png" width="100px;"/>
                                <img src="../../../assets/images/spring-boot.png" width="100px;"/>
                                <img src="../../../assets/images/Docker Horizontal Large.png" width="100px;"/>
                            </div>
                            <div class="col-md-12 text-center mt-4">
                                <a class="btn btn-dark-blue" href="https://www.setsmart.com" target="_blank">Go to website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row" id="setapp">
                        <div class="col-md-3 bg-primary" data-aos="fade-right">
                            <div class="card-body header">
                                <p>SET Application</p>
                            </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left">
                            <div class="card-body">
                                SET Application is the mobile application for novice investors to study 
                                how to start investing and also providing basic stock trading data.<br/>
                                <div class="text-center app-screen mt-2 mb-2">
                                    <img class="setapp" src="../../../assets/images/setapp_mkt.jpg"/>
                                    <img class="setapp" src="../../../assets/images/setapp_knowledge.jpg"/>
                                    <img class="setapp" src="../../../assets/images/setapp_oppday.jpg"/>
                                </div>
                                <br/>
                                <ul>
                                    <li>Worked as the senior iOS developer leading a team of 4 developers.</li>
                                    <li>Using swift 4, I implemented the new application screens against a RESTful API with JSON payload.</li>
                                    <li>Developed the job scheduler in Spring Boot to send messages to client app via Firebase Cloud Messaging (FCM).</li>
                                    <li>Reduced 50% significant software defects compare to the former version.</li>
                                </ul>
                                <div class="col-md-12 tech-img">
                                    <img src="../../../assets/images/swift.png" width="50px;"/>
                                    <img src="../../../assets/images/spring-boot.png" width="100px;"/>
                                    <img src="../../../assets/images/firebase.png" width="100px;"/>
                                </div>
                                <div class="col-md-12 text-center mt-4">
                                    <a class="btn btn-dark-blue" href="https://apps.apple.com/th/app/set-application/id982548148" target="_blank">Go to app</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="card">
                    <div class="row" id="setapp">
                            <div class="col-md-3 bg-primary" data-aos="fade-right">
                                <div class="card-body header">
                                    <p>SET Website</p>
                                </div>
                            </div>
                            <div class="col-md-9" data-aos="fade-left">
                                <div class="card-body">
                                    No.1 financial website of Thailand including all investment knowledge and trading data with 1,000,000 active users per month.
                                    <br>
                                    <div class="text-center app-screen mt-2 mb-2">
                                            <img class="setsmart" src="../../../assets/images/setwebsite.PNG"/>
                                    </div>
                                    <br>
                                    <ul>
                                        <li>Focused on building a responsive website using Bootstrap framework and speeding up the website response time by designing the web content flow.</li>
                                        <li>Developed and maintained code using HTML, CSS, JavaScript, and jQuery</li>
                                    </ul>
                                    <div class="col-md-12 tech-img">
                                        <img src="../../../assets/images/html.png" width="50px;"/>
                                        <img src="../../../assets/images/bootstrap.png" width="100px;"/>
                                    </div>
                                    <div class="col-md-12 text-center mt-4">
                                        <a class="btn btn-dark-blue" href="https://www.set.or.th" target="_blank">Go to website</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="card">
                        <div class="row" id="setapp">
                                <div class="col-md-3 bg-primary" data-aos="fade-right">
                                    <div class="card-body header">
                                        <p>SET Registration</p>
                                    </div>
                                </div>
                                <div class="col-md-9" data-aos="fade-left">
                                    <div class="card-body">
                                        It is the one-stop event management of the Stock Exchange of Thailand (SET).
                                        <br>
                                        <br>
                                        <ul>
                                            <li>Developed a variety of features such as event form builder, multiple pricing capabilities, payment processing and attendee management by using Grails framework.</li>
                                            <li>Designed the new database model and system architecture.</li>
                                            <li>Optimized the performance of database by creating an index and tuning SQL queries, resulting in 50% faster. </li>
                                        </ul>
                                        <div class="col-md-12 tech-img">
                                            <img src="../../../assets/images/grails.png" width="100px;"/>
                                            <img src="../../../assets/images/mysql.png" width="100px;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
    </div>