<div class="section" id="work-experience">
        <div class="container">
            <div class="text-center title">
                <h4>Work Experience</h4>
                <p class="description">5 years experience as a software developer at The Stock Exchange of Thailand</p>
            </div>
            <div class="card">
                <div class="row" id="setsmart">
                    <div class="col-md-3 bg-primary"  data-aos="fade-right">
                        <div class="card-body header">
                            <p>SETSMART</p>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left">
                        <div class="card-body">
                            SETSMART is the No.1 real-time stock information web application of Thailand. Many features are provided including
                            a completed data of indices, stocks, derivatives and listed companies. Users can easily analyze stocks with their customized conditions.
                            <br>
                            <br>
                            <h4>Technology</h4>
                            SETSMART is built using Angular 6 with Bootstrap 4. 
                            On the backend, server-sent events API and REST API with Spring boot framework lives on Docker.

                            <div class="col-md-12 tech-img">
                                <img src="../../../assets/images/angular.png" width="100px;"/>
                                <img src="../../../assets/images/bootstrap.png" width="100px;"/>
                                <img src="../../../assets/images/spring-boot.png" width="100px;"/>
                                <img src="../../../assets/images/Docker Horizontal Large.png" width="100px;"/>
                            </div>
                            <div class="col-md-12 text-center mt-4">
                                <a class="btn btn-dark-blue" href="https://www.setsmart.com" target="_blank">Go to website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row" id="setapp">
                        <div class="col-md-3 bg-primary" data-aos="fade-right">
                            <div class="card-body header">
                                <p>SET Application</p>
                            </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left">
                            <div class="card-body">
                                SET Application is the mobile application for novice investors to study 
                                how to start investing and also providing basic stock trading data.
                                <br>
                                <br>
                                <h4>Technology</h4>
                                I led the iOS developers' team to design and implement “SET Application” on iOS using Swift 4.
                                Firebase Cloud Messaging provides the push notification solution. Spring boot is also used to build REST API to return the information to application.
                                <div class="col-md-12 tech-img">
                                    <img src="../../../assets/images/swift.png" width="50px;"/>
                                    <img src="../../../assets/images/spring-boot.png" width="100px;"/>
                                    <img src="../../../assets/images/firebase.png" width="100px;"/>
                                </div>
                                <div class="col-md-12 text-center mt-4">
                                    <a class="btn btn-dark-blue" href="https://apps.apple.com/th/app/set-application/id982548148" target="_blank">Go to app</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="card">
                    <div class="row" id="setapp">
                            <div class="col-md-3 bg-primary" data-aos="fade-right">
                                <div class="card-body header">
                                    <p>SET Website</p>
                                </div>
                            </div>
                            <div class="col-md-9" data-aos="fade-left">
                                <div class="card-body">
                                    No.1 financial website of Thailand including all investment knowledge and trading data with 1,000,000 active users per month.
                                    <br>
                                    <br>
                                    <h4>Technology</h4>
                                    I focused on building a responsive website using Bootstrap framework and speeding up the website response time by designing the web content flow.
                                    <div class="col-md-12 tech-img">
                                        <img src="../../../assets/images/html.png" width="50px;"/>
                                        <img src="../../../assets/images/bootstrap.png" width="100px;"/>
                                    </div>
                                    <div class="col-md-12 text-center mt-4">
                                        <a class="btn btn-dark-blue" href="https://www.set.or.th" target="_blank">Go to website</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="card">
                        <div class="row" id="setapp">
                                <div class="col-md-3 bg-primary" data-aos="fade-right">
                                    <div class="card-body header">
                                        <p>SET Registration</p>
                                    </div>
                                </div>
                                <div class="col-md-9" data-aos="fade-left">
                                    <div class="card-body">
                                        It is the one-stop event management of the Stock Exchange of Thailand (SET). The services include pre-event registration, event form builder with a responsive view, payment service with electronic receipt (E-Receipt) and real-time views on session attendance. 
                                        <br>
                                        <br>
                                        <h4>Technology</h4>
                                        SET Registration uses Grails for building web application with MySql as database.
                                        <div class="col-md-12 tech-img">
                                            <img src="../../../assets/images/grails.png" width="100px;"/>
                                            <img src="../../../assets/images/mysql.png" width="100px;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
    </div>