.title {
    margin-bottom: 20px;
}

.bg-primary {
    background-color: #43b1b0 !important;
}

.header {
    text-align: center;
    color: #ffffff;
    padding-top: 60px;
    font-size: 24px;
}

.tech-img {
    margin-top: 30px;
    img {
        margin-right: 20px;
    }
}

.btn-dark-blue {
    color: #ffffff;
    background-color: #004150;
    border: #004150;
}

.description {
    font-size: 20px;
}