

.fixed-top {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1000;
}

.navbar, .mobile, .navbar-light {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1030;
}

.navbar {
    min-height: 53px;
    padding: 10px;
    display: flex !important;
    text-transform: uppercase;
}

.navbar-transparent {
    background-color: transparent !important;
}

.bg-nav {
    background-color: #0483bb;
}

a.nav-link {
    text-decoration: none;
    color: #ffffff !important;
    font-size: 16px;
}

.nav-item {
    margin-right: 5px;
}

@media screen and (max-width: 991px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block;

        .navbar-collapse {
            background-color: #1f98ce;
            padding: 10px;
        }

        button.navbar-toggler {
            border-color: transparent;
        }
    }
}

@media screen and (min-width: 992px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none !important;
    }
}