<div class="wrapper">
    <div class="profile-cover">
        <div class="profile-cover-image"></div>
        <div class="container">
            <div class="content-center">
                <div class="profile-image">
                    <img src="../../../assets/images/profile.jpg">
                </div>
                <div class="title"><h2>Nattarat Champreeda</h2></div>
                <p class="category">Front-end developer, looking more inspiration</p>
            </div>
        </div>
    </div>
</div>