<div class="wrapper">
    <div class="profile-cover">
        <div class="profile-cover-image"></div>
        <div class="container">
            <div class="content-center">
                <div class="profile-image">
                    <img src="../../../assets/images/profile.jpg">
                </div>
                <div class="title"><h2>Nattarat Champreeda</h2></div>
                <p class="category">Front-end developer, looking more inspiration</p>
                <a herf=# class="btn btn-primary btn-blue">Download CV</a>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="" data-original-title="Follow me on Facebook"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="" data-original-title="Follow me on Facebook"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="" data-original-title="Follow me on Facebook"><i class="fa fa-google"></i></a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="" data-original-title="Follow me on Facebook"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>