<div class="wrapper">
    <div class="profile-cover">
        <div class="profile-cover-image"></div>
        <div class="container">
            <div class="content-center">
                <div class="profile-image">
                    <img src="../../../assets/images/profile.jpg">
                </div>
                <div class="name"><h2>Nattarat Champreeda</h2></div>
                <p class="category">Software Engineer</p>
                <a href="https://drive.google.com/file/d/1wUEfz1f-aSj-4t9QBV0sJm2CZRVai8wD/view?usp=sharing" target="_blank" class="btn btn-primary btn-blue" (click)="onCVClick()">Download CV</a>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="http://facebook.com/iamnuningjang" target="_blank" rel="tooltip" title="" data-original-title="Follow me on Facebook"><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/nattaratch/" target="_blank" rel="tooltip" title="" data-original-title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="mailto:ning.nattarat@gmail.com" rel="tooltip" title="" data-original-title="Follow me on Facebook"><i class="fa fa-google"></i></a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/NattaratCh" target="_blank" rel="tooltip" title="" data-original-title="Follow me on Facebook"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>