<div class="section" id="education">
        <div class="container">
            <div class="text-center title">
                <h4>Education</h4>
            </div>
            <div class="card">
                <div class="row" id="master">
                    <div class="col-md-3 bg-primary"  data-aos="fade-right">
                        <div class="card-body header">
                            <p class="time">2019 - Present</p>
                            <div class="degree">MASTER'S DEGREE</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left">
                        <div class="card-body">
                            <div class="major">Master of Computer Science (Emphasis: Software Engineering)</div>
                            <div class="university">University of Southern California, Los Angeles, CA</div>
                            <!-- <br/>
                            Specialize in Software Engineering -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                    <div class="row" id="bachelor">
                        <div class="col-md-3 bg-primary"  data-aos="fade-right">
                            <div class="card-body header">
                                <p class="time">2010 - 2014</p>
                                <div class="degree">BACHELOR'S DEGREE</div>
                            </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left">
                            <div class="card-body">
                                <div class="major">Bachelor of Computer Engineering - GPA 3.78 (Top 10%)</div>
                                <div class="university">Chulalongkorn University, Bangkok, Thailand</div>
                                <br/>
                                <strong>Data Quality Management System for Hydrological Data</strong><br/>
                                <ul>
                                    <li>Created a web application for automatically detecting and correcting erroneous precipitation data in Thailand.</li>
                                    <li>Introduced a new best fit method based on statistical test to detect inhomogeneity data, ensuring 90% accuracy.
                                        This new method was published in the paper “Controlling Quality of Water-Level Data in Thailand” and presented in “The 6th Asian Conference on Intelligent Information and Database Systems” (ACIIDS 2014).</li>
                                </ul>
                                <strong>Publication</strong> (Co-author)<br/>
                                <a href="https://link.springer.com/chapter/10.1007/978-3-319-05476-6_51" target="_blank">Controlling Quality of Water-Level Data in Thailand</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>