.bg-primary {
    background-color: #43b1b0 !important;
}

.header {
    text-align: center;
    color: #ffffff;
    padding-top: 60px;
    font-size: 24px;
}

.time {
    font-size: 20px;
}

.degree {
    font-size: 22px;
}

.major {
    font-size: 24px;
}

.university {
    font-size: 20px;
    color: #9A9A9A;
}
