<div class="section" id="education">
        <div class="container">
            <div class="text-center title">
                <h4>Education</h4>
            </div>
            <div class="card">
                <div class="row" id="master">
                    <div class="col-md-3 bg-primary"  data-aos="fade-right">
                        <div class="card-body header">
                            <p class="time">2019 - Present</p>
                            <div class="degree">MASTER'S DEGREE</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left">
                        <div class="card-body">
                            <div class="major">Master of Computer Science</div>
                            <div class="university">University of Southern California</div>
                            xxxx
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                    <div class="row" id="bachelor">
                        <div class="col-md-3 bg-primary"  data-aos="fade-right">
                            <div class="card-body header">
                                <p class="time">2010 - 2014</p>
                                <div class="degree">BACHELOR'S DEGREE</div>
                            </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left">
                            <div class="card-body">
                                <div class="major">Bachelor of Computer Engineering</div>
                                <div class="university">Chulalongkorn University, Bangkok, Thailand [3.78/4.00]</div>
                                <br/>
                                <strong>Data Quality Management System for Hydrological Data</strong><br/>
- Cooperated with the Hydro and Argo Informatics Institute (HAII) to develop a web application based on R and php for automatically detecting and correcting erroneous precipitation data in Thailand.<br/>
- Introduced the new best fit method based on a statistical test to detect inhomogeneity data named changepoint.
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>